table {
    width: 100%;
}

tr {
    height: 50px;
}

.mod0 {
    background-color: white;
}

.mod1 {
    background-color: lightgrey;
}

/*tr:hover {
    background-color: grey;
}*/

#add_link{
    width: 100%;
    height: 100px;
}

#kitty {
    position:fixed;
    height: 25%;
    width: auto;

    left: 25%;
    margin-right: -135px;
    margin-top: -200px;
}

.override-display-block {
    display: block !important;
}